<!-- views/index.ejs -->

<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
  </head>
  <body>
    <img src="/images/favicon.ico" alt="キャッシュニャンアイコン" width="52" height="52">
    <h1><%= title %></h1>
    <p>毎日猫と。<br>支出管理はキャッシュニャン</p>
    <div>
      <img src="/images/mobile.png" alt="キャッシュニャンアイコン" width="500px" height="auto">
 
    </div>

  </body>
</html>
